[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
matplotlib = "*"
numpy = "*"
scikit-learn = "*"
joblib = "*"
tensorflow = "*"
boto3 = "*"
pytest = "*"
compose = "*"
evalml = "*"
featuretools = "*"
Flask = "*"
pylint = "*"

[requires]
python_version = "3.8"
