[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
wrapt = {editable = true, path = "."}

[packages]
matplotlib = "*"
numpy = "*"
scikit-learn = "*"
joblib = "*"
tensorflow = "<2.0"
boto3 = "*"
pytest = "*"
compose = "*"
evalml = "*"
featuretools = "*"
Flask = "*"
pylint = "*"
gunicorn = "==19.10.0"
jupyter = "*"
ipywidgets = "*"

[requires]
python_version = "3.7"
